
@import "//cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/css/all.min.css";
/* @font-face {
  font-family: "AppleSDGothicNeoH";
  font-display: fallback;

  src: url("./AppleSDGothicNeoH.woff") format("woff"), url("./AppleSDGothicNeoH.ttf") format("truetype");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeoM";
  font-display: fallback;

  src: url("./AppleSDGothicNeoM.woff") format("woff"), url("./AppleSDGothicNeoM.ttf") format("truetype");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeoT";
  font-display: fallback;

  src: url("./AppleSDGothicNeoT.woff") format("woff"), url("./AppleSDGothicNeoT.ttf") format("truetype");

  font-weight: 400;
  font-style: normal;
} */
